In [2]:
import pandas as pd
data = pd.read_csv("data/file.csv", encoding='latin-1')

In [3]:
data.dtypes

Year                  int64
Area                 object
avg_temp            float64
Item_x               object
Element_x            object
Unit_x               object
yield_amound        float64
Domain               object
Element_y            object
Item_y               object
Unit_y               object
pesticide_amound    float64
dtype: object

In [4]:
data

,Year,Area,avg_temp,Item_x,Element_x,Unit_x,yield_amound,Domain,Element_y,Item_y,Unit_y,pesticide_amound
0,1990,Ghana,26.73,"Cereals, primary",Production,tonnes,843800.00,Pesticides Use,Agricultural Use,Pesticides (total),tonnes,65.8
1,1990,Ghana,26.73,"Cereals, primary",Production,tonnes,843800.00,Pesticides Use,Agricultural Use,Insecticides,tonnes,32.4
2,1990,Ghana,26.73,"Cereals, primary",Production,tonnes,843800.00,Pesticides Use,Agricultural Use,Herbicides,tonnes,8.0
3,1990,Ghana,26.73,"Cereals, primary",Production,tonnes,843800.00,Pesticides Use,Agricultural Use,Fungicides and Bactericides,tonnes,25.0
4,1990,Ghana,26.73,"Cereals, primary",Production,tonnes,843800.00,Pesticides Use,Agricultural Use,Fungicides Ã¢ÂÂ Seed treatments,tonnes,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
64731,2013,Namibia,20.73,"Cereals, primary",Production,tonnes,86599.74,Pesticides Use,Agricultural Use,Insecticides,tonnes,9.0
64732,2013,Namibia,20.73,"Cereals, primary",Production,tonnes,86599.74,Pesticides Use,Agricultural Use,Herbicides,tonnes,17.0
64733,2013,Namibia,20.73,"Cereals, primary",Production,tonnes,86599.74,Pesticides Use,Agricultural Use,Fungicides and Bactericides,tonnes,18.0
64734,2013,Namibia,20.73,"Cereals, primary",Production,tonnes,86599.74,Pesticides Use,Agricultural Use,Plant Growth Regulators,tonnes,4.0
64735,2013,Namibia,20.73,"Cereals, primary",Production,tonnes,86599.74,Pesticides Use,Agricultural Use,Rodenticides,tonnes,8.0

In [5]:
object_columns = data.select_dtypes(include='object').columns
data_1 = pd.get_dummies(data= data, columns=object_columns)

In [7]:
data_1

,Year,avg_temp,yield_amound,pesticide_amound,Area_Albania,Area_Algeria,Area_Angola,Area_Argentina,Area_Australia,Area_Austria,...,Item_y_Seed Treat Fung Ã¢ÂÂ Benzimidazoles,Item_y_Seed Treat Fung Ã¢ÂÂ Botanical products and biologicals,Item_y_Seed Treat Fung Ã¢ÂÂ Dithiocarbamates,Item_y_Seed Treat Fung Ã¢ÂÂ Other,"Item_y_Seed Treat Fung Ã¢ÂÂ Triazoles, diazoles",Item_y_Seed Treat Insect Ã¢ÂÂ Carbamates,Item_y_Seed Treat Insect Ã¢ÂÂ Organo-phosphates,Item_y_Seed Treat Insect Ã¢ÂÂ Other,Item_y_Seed Treat Insect Ã¢ÂÂ Pyrethroids,Unit_y_tonnes
0,1990,26.73,843800.00,65.8,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,1990,26.73,843800.00,32.4,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,1990,26.73,843800.00,8.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,1990,26.73,843800.00,25.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,1990,26.73,843800.00,0.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64731,2013,20.73,86599.74,9.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
64732,2013,20.73,86599.74,17.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
64733,2013,20.73,86599.74,18.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
64734,2013,20.73,86599.74,4.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
64735,2013,20.73,86599.74,8.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [9]:
data_1.drop("yield_amound", axis=1)

,Year,avg_temp,pesticide_amound,Area_Albania,Area_Algeria,Area_Angola,Area_Argentina,Area_Australia,Area_Austria,Area_Bahamas,...,Item_y_Seed Treat Fung Ã¢ÂÂ Benzimidazoles,Item_y_Seed Treat Fung Ã¢ÂÂ Botanical products and biologicals,Item_y_Seed Treat Fung Ã¢ÂÂ Dithiocarbamates,Item_y_Seed Treat Fung Ã¢ÂÂ Other,"Item_y_Seed Treat Fung Ã¢ÂÂ Triazoles, diazoles",Item_y_Seed Treat Insect Ã¢ÂÂ Carbamates,Item_y_Seed Treat Insect Ã¢ÂÂ Organo-phosphates,Item_y_Seed Treat Insect Ã¢ÂÂ Other,Item_y_Seed Treat Insect Ã¢ÂÂ Pyrethroids,Unit_y_tonnes
0,1990,26.73,65.8,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,1990,26.73,32.4,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,1990,26.73,8.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,1990,26.73,25.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,1990,26.73,0.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64731,2013,20.73,9.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
64732,2013,20.73,17.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
64733,2013,20.73,18.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
64734,2013,20.73,4.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
64735,2013,20.73,8.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
# Load the data into a pandas DataFrame
import seaborn as sns

# Extract features (X) and target variable (y)
X = data_1.drop("yield_amound", axis=1)
y = data_1['yield_amound']
scaler = StandardScaler().fit(X)
Xstd=scaler.transform(X)
# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(Xstd, y, test_size=0.2, random_state=42)

# Initialize the linear regression model
model = LinearRegression()

# Fit the model to the training data
model.fit(X_train, y_train)

# Predict on the test data
y_pred = model.predict(X_test)

# Evaluate the model using mean squared error
mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error:', mse)

Mean Squared Error: 313046747411984.0

NameError: name 'plt' is not defined

In [ ]:

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler

# Load the data into a pandas DataFrame

# Extract features (X) and target variable (y)
X = data_1[['Area', 'avg_temp', "Domain", "Item_y", "pesticide_amound", 'Year']]
y = data_1['yield_amound']

scaler = StandardScaler().fit(X)
Xstd = scaler.transform(X)

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(Xstd, y, test_size=0.2, random_state=42)

# Initialize the linear regression model
model = LinearRegression()

# Fit the model to the training data
model.fit(X_train, y_train)

# Predict on the test data
y_pred = model.predict(X_test)

# Evaluate the model using mean squared error
mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error:', mse)

Mean Squared Error: 1.8235419381175924e+16