Working file for Goup Project

Data
-   https://www.fao.org/faostat/en/#data/QCL
-   
-

Importing all libarys

In [1]:
import pandas as pd
import numpy as np
import zipfile
import seaborn as sns # For plotting
import matplotlib.pyplot as plt # For showing plots
import scipy.stats as sts
import scikit_posthocs as sp
import statsmodels.stats as stm
from statsmodels.graphics.gofplots import qqplot

1. Dataset

Import

In [2]:
df = pd.read_csv("data/Production_Crops_Livestock_E_All_Data.csv", encoding='latin-1')

Cleaning

In [3]:
df2 = df.dropna(how = 'any') # removing all missing data 
df2 = df2[df2["Area Code"]<1000] # removing the summerised Areas (Africa as a hole etc.)
df2 = df2.drop(["Area Code", "Area Code (M49)","Item Code (CPC)" ,"Item Code", "Element Code"], axis=1) # removing not used collums
df2 = df2.drop(df2.columns[df2.columns.str.endswith('F')], axis=1) # removing all collums wich say how the data was collectet. Big loss of information!! 
df2 = pd.melt(df2, id_vars=['Area', "Item", "Element", "Unit"], var_name='Year', value_name='Value') # reshaping the df to create a single year collum 
df2['Year'] = df2['Year'].str[1:] # removin the letter of befor the years
df2['Year'] = df2['Year'].astype(int)
df2

,Area,Item,Element,Unit,Year,Value
0,Afghanistan,Apples,Area harvested,ha,1961,2220.00
1,Afghanistan,Apples,Yield,hg/ha,1961,68018.00
2,Afghanistan,Apples,Production,tonnes,1961,15100.00
3,Afghanistan,Apricots,Area harvested,ha,1961,4820.00
4,Afghanistan,Apricots,Yield,hg/ha,1961,66390.00
...,...,...,...,...,...,...
1772777,Zimbabwe,Sugar Crops Primary,Yield,hg/ha,2021,734043.00
1772778,Zimbabwe,Sugar Crops Primary,Production,tonnes,2021,3450000.00
1772779,Zimbabwe,Vegetables Primary,Area harvested,ha,2021,35148.00
1772780,Zimbabwe,Vegetables Primary,Yield,hg/ha,2021,66770.00
1772781,Zimbabwe,Vegetables Primary,Production,tonnes,2021,234679.67

2. Dataset

Import

In [4]:
dr = pd.read_csv("data/FAOSTAT_data_en_4-18-2023.csv", encoding='latin-1')

Cleaning

In [5]:
dr2 = dr.dropna(how = 'any') # removing all missing data 
dr2 = dr2.drop(["ï»¿Domain Code", "Area Code (M49)", "Item Code", "Element Code", "Year Code", "Flag", "Flag Description"], axis=1) # removing not used collums
dr2

,Domain,Area,Element,Item,Year,Unit,Value
0,Pesticides Use,Albania,Agricultural Use,Pesticides (total),1990,tonnes,121.0
1,Pesticides Use,Albania,Agricultural Use,Pesticides (total),1991,tonnes,121.0
2,Pesticides Use,Albania,Agricultural Use,Pesticides (total),1992,tonnes,121.0
3,Pesticides Use,Albania,Agricultural Use,Pesticides (total),1993,tonnes,121.0
4,Pesticides Use,Albania,Agricultural Use,Pesticides (total),1994,tonnes,201.0
...,...,...,...,...,...,...,...
66275,Pesticides Use,Zimbabwe,Agricultural Use,Other Pesticides nes,2016,tonnes,0.0
66276,Pesticides Use,Zimbabwe,Agricultural Use,Other Pesticides nes,2017,tonnes,0.0
66277,Pesticides Use,Zimbabwe,Agricultural Use,Other Pesticides nes,2018,tonnes,0.0
66278,Pesticides Use,Zimbabwe,Agricultural Use,Other Pesticides nes,2019,tonnes,0.0
66279,Pesticides Use,Zimbabwe,Agricultural Use,Other Pesticides nes,2020,tonnes,0.0

Merge the Datasets

In [6]:
merged = pd.merge(df2, dr2, on= ["Area", "Year"])

merged

,Area,Item_x,Element_x,Unit_x,Year,Value_x,Domain,Element_y,Item_y,Unit_y,Value_y
0,Albania,Apples,Production,tonnes,1990,13100.00,Pesticides Use,Agricultural Use,Pesticides (total),tonnes,121.00
1,Albania,Apples,Production,tonnes,1990,13100.00,Pesticides Use,Agricultural Use,Insecticides,tonnes,70.00
2,Albania,Apples,Production,tonnes,1990,13100.00,Pesticides Use,Agricultural Use,Herbicides,tonnes,5.00
3,Albania,Apples,Production,tonnes,1990,13100.00,Pesticides Use,Agricultural Use,Fungicides and Bactericides,tonnes,44.00
4,Albania,Apples,Production,tonnes,1990,13100.00,Pesticides Use,Agricultural Use,Fungicides â Seed treatments,tonnes,0.00
...,...,...,...,...,...,...,...,...,...,...,...
10034800,Zimbabwe,Vegetables Primary,Production,tonnes,2020,234587.97,Pesticides Use,Agricultural Use,Fungicides â Seed treatments,tonnes,0.41
10034801,Zimbabwe,Vegetables Primary,Production,tonnes,2020,234587.97,Pesticides Use,Agricultural Use,Insecticides â Seed Treatments,tonnes,7.24
10034802,Zimbabwe,Vegetables Primary,Production,tonnes,2020,234587.97,Pesticides Use,Agricultural Use,Plant Growth Regulators,tonnes,133.40
10034803,Zimbabwe,Vegetables Primary,Production,tonnes,2020,234587.97,Pesticides Use,Agricultural Use,Rodenticides,tonnes,0.00
10034804,Zimbabwe,Vegetables Primary,Production,tonnes,2020,234587.97,Pesticides Use,Agricultural Use,Other Pesticides nes,tonnes,0.00